<html>
<head>
  <title></title>
</head>
<body>
  
  <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
  <div id="search">
        <form action="/" id="searchForm">
          <input type="text" name="keyword">
          <input type="submit" value="Submit">
        </form>
  </div>
  <div id="content"></div>
  <script type="text/javascript">
    $("#searchForm").submit(function(event) {
     
      /* stop form from submitting normally */
      event.preventDefault();
     
      /* get some values from elements on the page: */
      var $form = $(this),
          term = $form.find('input[name="keyword"]').val(),
          url = $form.attr('action');
          
      $.ajax({
        url: "/google",
        data: {
            keyword: term
        },
        success: function(data) {
    console.log(data);
//alert("XD");
//  return false;
            //var array_asg = 
            var ary = jQuery.parseJSON(data);
            
            for (var i = 0; i < ary.length; i++) {
              $('#content').append('<div>'+ary[i]+'<div>');
            };
            // console.log(obj);

        }
        });
    });
    

    
    //$("#search").html("Next Step...")
    </script>
</body>
</html>
